php_value display_errors On
php_flag magic_quotes 1
php_flag magic_quotes_gpc 1
php_value mbstring.http_input auto
php_value date.timezone America/New_York
DirectoryIndex index.php index.html index2.html
ErrorDocument 404 /404.php
ErrorDocument 403 /err_pages/403.php

AddType text/xsl .xsl

# Disable directory browsing 
Options -Indexes

# DISABLE CACHING
<IfModule mod_headers.c>
	Header set Cache-Control "no-cache, no-store, must-revalidate"
	Header set Pragma "no-cache"
	Header set Expires 0
	Header add Access-Control-Allow-Origin: *
</IfModule>
