.logo {
	cursor: pointer;
}
.logoff {
	cursor: pointer;
}
.user_banner {
	font-style: italic;
	text-decoration: underline;
	color: #458;
	cursor: pointer;
}
.banner_class {
	font-style: italic;
	color: #888;
	cursor: default;
}
